.friends-item-container {
  .friends-item-data {
    .friends-item-geo {
      margin-top: 5px;
      font-size: 12px;
    }

    .friends-item-actions {
      .btn {
        margin-top: 10px;
        margin-left: 10px;
        float: right;
      }
    }
  }
}
