.search-item-container {
  .search-item-info {
    width: 100%;
    font-size: 13px;
    margin-top: 5px;
    .title {
      font-weight: bold;
    }
  }

  .search-item-description {
    font-size: 13px;
    margin-top: 5px;
  }
}
