.list-group-item {
  min-height: 100px;
  cursor: pointer;
}

.body-mobile {
  .games-fanty-container {
    .games-fanty-card-container {
      .card-footer {
        .card-btn {
          font-size: 14px;
        }
      }
      .nav-item {
        margin: 0;
        padding: 20px 10px;
        width: 25%;
      }
      .nav-link {
        border-radius: 0px;
      }
    }
  }
}
