@import "generic/layout/colors";

.container-footer {
  .navbar {
    background-color: $color-black;
    .footer-item {
      height: 28px;
      text-align: center;
      a {
        text-decoration: none;
      }
    }
  }
}

&.body-chat {
  .container-footer {
    display: none;
  }
}
