$color-white: #ffffff;
$color-white-hard: #fbfcfd;
$color-gray: #ebedf0;
$color-gray-hard: #909499;
$color-green-light: #72cfc0;
$color-green: #55a79a;
$color-green-hard: rgb(44, 114, 102);
$color-black: #343a40;
$color-red: #dc3545;
$color-yellow: #f4bf42;

$color-body-background: #fff;

$color-navbar-background: #343a40;
$color-navbar: #ffffff;
$color-navbar-hover: #55a79a;

$color-sidebar: #343a40;
$color-sidebar-hover: #55a79a;

$color-link: #55a79a;
$color-link-hover: rgb(44, 114, 102);

$color-btn-background: #55a79a;
$color-btn-border: #55a79a;
$color-btn: #ffffff;

$color-box-background: #f6f6f6;
$color-box-border: #f0ecec;
$color-box: #666666;

$color-list-hover: #e9e9e9;

$color-footer-background: #e2e2e2;
$color-footer: #666666;
$color-footer-hover: #343a40;

$color-error: #dc3545;
$color-waiting: #f4bf42;
