@import "generic/layout/colors";

& {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Segoe WP,
    Helvetica Neue, Lucida Grande, Verdana, Tahoma, Arial, sans-serif !important;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-gray;
  font-size: 14px;

  margin-bottom: 50px;
}

&.body-profile {
  .container-header {
    .navbar {
      background-color: rgba(0, 0, 0, 0.3) !important;
    }
  }
}

&::-webkit-scrollbar {
  width: 0;
}

::placeholder {
  font-size: 14px;
  line-height: 25px;
}

img,
a,
select {
  border: none;
  outline: none;
}

button:focus {
  outline: none;
}

input {
  border-radius: 0px;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-bottom: 15px;
}
label[type="checkbox"],
label.form-check-label {
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 15px;
}

input[type="radio"] {
  width: 25px;
  height: 25px;
  margin-bottom: 15px;
}
label[type="radio"] {
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 15px;
}

input:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
textarea:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.block {
  background: $color-white;
  margin-bottom: 10px;

  h2 {
    padding-top: 15px;
    padding-left: 15px;
    color: $color-gray-hard;
    text-transform: uppercase;
    font-size: 14px;
  }
}

.text-notification {
  color: $color-red !important;
}
