.user-item-container {
  .user-item-info {
    font-size: 13px;
    margin-top: 5px;
    .title {
      font-weight: bold;
    }
  }

  .user-item-description {
    font-size: 13px;
    margin-top: 5px;
  }
}
