.container-video-gallery {
  .block {
    padding-top: 5px;
    padding-bottom: 15px;
    border-bottom: 1px gray solid;
    .video-item-header {
      display: flex;
      justify-content: space-between;
      margin: 10px;
    }
  }
  .block:last-child {
    border-bottom: unset;
  }
}
#video-menu {
  .list-group-item {
    min-height: unset;
  }
}
