@import "generic/layout/colors";

.container-site-post-list {
  margin-top: 50px;
  .site-post-search {
    margin-bottom: 10px;
    .input-group {
      height: 44px;
      .input-group-text {
        background-color: $color-white;
        border-radius: 0px;
        border: none;
      }
      input {
        border: none;
        height: 100%;
      }
    }
  }
  .site-post-list {
    .site-post-item {
      padding: 10px;
      display: flex;
      flex-flow: column;

      .site-post-header {
        display: flex;
        min-height: 60px;

        .site-post-avatar {
          position: absolute;
        }

        .site-post-title {
          width: 90%;
          display: flex;
          flex-flow: column;
          padding-top: 4px;
          padding-left: 60px;
          padding-right: 12px;

          .site-post-title-name {
            overflow: hidden;
            font-size: 15px;
            line-height: 18px;
            font-weight: 500;
            color: $color-black;
          }
          .site-post-title-geo {
            text-align: left;

            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;

            font-size: 12px;
            color: $color-gray-hard;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            margin-top: 5px;
          }
        }
        .site-post-actions {
          width: 10%;
          text-align: right;
          padding-right: 5px;
        }
      }
      .site-post-body {
        .list-group-item {
          padding: 0px;
          span.item-title {
            color: $color-gray-hard;
            margin-right: 5px;
          }
        }
        .site-post-footer {
          padding-top: 15px;
        }
      }
    }
  }
  .right-btns {
    margin: auto;
  }
}
